.git
.github
.ruff_cache
**/.ruff_cache
.venv
**/.venv
node_modules
**/node_modules
dist
**/dist
__pycache__
**/__pycache__
*.pyc
*.log
test-results
**/test-results
**/playwright-report
frontend/tests
backend/**/tests*.py
backend/requirements-dev.txt
backend/pyproject.toml
backend/iniciar_servidor.cmd
docs
*.md
*.pptx
*.xlsx
.env
**/.env
backend/db.sqlite3
backend/staticfiles
Documentos Planta
prototipo
